/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .header {
    background-color: #29323c;
    padding: 20px 0;
  }
  
  .header .brand h1 {
    font-size: 36px;
    color: #fff;
  }
  
  .nav-list ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-list ul li {
    display: inline;
  }
  
  .nav-list ul li a {
    color: white;
    text-decoration: none;
  }
  
  .contact-form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-form input, 
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-form button {
    background-color: #29323c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
  }
  
  .contact-form button:hover {
    background-color: #404b5b;
  }
  